@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbar-height: 5vh;
    --primary-color: #0070f3;
    --secondary-color: #ffffff;
    --text-color: #333;
    --border-radius: 5px;
}

body {
    font-family: 'Inter Tight', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
}