@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.PageLoginUser {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #333;
    font-family: "Inter Tight", sans-serif;
}

.FormLoginUser {
    width: 100%;
    height: 45%;
    max-width: 25vw;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.FormLoginUserH1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #231f20;
}

.FormLoginUserContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.FormLoginUserContent label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #555;
    margin-left: 1%;
}

.FormLoginUserContent p a {
    text-decoration: none;
    color: #0071ce;
    font-weight: 600;
}

.FormLoginUserContent p {
    text-align: end;
}

.FormLoginUserContent a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.auth-status {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.auth-status.success {
    color: #28a745;
}

.auth-status.error {
    color: #dc3545;
}

.FormLoginUserContent input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
    margin-block: 2%;
}

.FormLoginUserContent input:focus {
    border-color: #0071ce;
}

.FormLoginUserContent button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background-color: #0071ce;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.FormLoginUserContent button:hover {
    background-color: rgb(2, 85, 168);
}

.FormLoginUserContent button:focus {
    outline: none;
    background-color: rgb(2, 85, 168);
}

p {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #0071ce;
}

/* Responsividade */

/* Para tablets */
@media (max-width: 1024px) {
    .FormLoginUser {
        height: 50vh;
        max-width: 50vw;
        padding: 2rem;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .FormLoginUserH1 {
        font-size: 1.5rem;
    }

    .FormLoginUserContent input,
    .FormLoginUserContent button {
        padding: 0.7rem;
        font-size: 0.9rem;
    }
}

/* Para celulares */
@media (max-width: 768px) {
    .FormLoginUser {
        height: 50vh;
        max-width: 35vw;
        padding: 2rem;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .FormLoginUserH1 {
        font-size: 1.5rem;
    }

    .FormLoginUserContent input,
    .FormLoginUserContent button {
        padding: 0.6rem;
        font-size: 0.9rem;
    }

    .auth-status {
        font-size: 0.8rem;
    }
}

/* Para telas muito pequenas */
@media (max-width: 480px) {
    .FormLoginUser {
        height: 50vh;
        max-width: 85vw;
        padding: 2rem;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .FormLoginUserH1 {
        font-size: 1.3rem;
    }

    .FormLoginUserContent input,
    .FormLoginUserContent button {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .auth-status {
        font-size: 0.7rem;
    }
}
